name: Auto Unzip

on:
  push:
    paths:
      - "*.zip"

permissions:
  contents: write

jobs:
  unzip:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Unzip file
        run: |
          for z in *.zip; do
            unzip -o "$z" -d "unzipped"
          done

      - name: Commit files
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Auto unzip" || echo "No changes"
          git push
